@{
    ViewBag.Title = "Home Page";
}
@using WebApplication4.Models

<div class="jumbotron">
    <h1>@Html.Image("/Content/Golf1.jpg", "alt", "100") Golf Tracker</h1>
    <p class="lead">The Golf Tracker tracks golf.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        @Html.Image("/Content/Golf2.jpg","alt","300")
    </div>
   
</div>